<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <h1>Welcome to Earth!</h1>
        <br>
        <img src="/img/earth.jpg" alt="Earth" />
        <br>
        <p class="pl-3 text-left"> Earth, home of the human race, third planet from the sun, is the only 
        planet known to host life. Only a handful of people have ever left its thin atmospheric envelope.
        Roughly 70% of the Earth's surface is covered in water, and while we are familiar with
        its surface, 95% of the ocean depths remain unexplored, leaving untold numbers of
        discoveries and surprises waiting for us in the deep.</p>
        <br>
        <h3 class="text-center bg-primary">Fun facts</h3>
        <div class="pl-3 text-left">
            <h5 class="font-weight-bold">Moon Size and Formation:</h5>
            <p>The moon is one of the strangest in the Solar System. Most planets' moons are
            only a small fraction their size, and yet the Earch's moon is 25% the size of its
            host. The only other large body with such an abnormal size ratio is Pluto and its
            moon Charon. Like Mercury, the Earth likely suffered a giant impact by a Mars-sized 
            protoplanet called Theia, remelting the Earth's surface and sending debris flying into
            space, which eventually formed our Moon.
                <br><a href="https://www.sciencealert.com/we-may-have-finally-found-a-chunk-of-theia-buried-deep-inside-the-moon">
                We May Have Finally Found a Chunk of Theia Buried Deep Inside The Moon</a></p>
            <br>
            <h5 class="font-weight-bold">Composition:</h5>
            <p>Earth is the densest planet in the Solar System (perhaps more than just 
            compositionally), just edging out Mercury with 5.51 grams per cubic centimeter. 
            It is also the only planet with tectonic planets, which work to recycle the crust
            and mantle, refreshing the surface and erasing old impact scars, among other
            surface features. This tectonic activity is also responsible for a surprising find: 
            that there is as much water in the Earth's mantle as there is in all of the oceans
            combined.
                <br><a href="https://www.newscientist.com/article/2133963-theres-as-much-water-in-earths-mantle-as-in-all-the-oceans/">
                There’s as much water in Earth’s mantle as in all the oceans</a></p></p>
        </div>
        <br>
        
<%- include('partials/footer.ejs') %>