<!DOCTYPE html>
<%- include('partials/header.ejs') %>
    <h1 class="text-white">Welcome to the Solar System site!</h1>
    <br>
    <img src="/img/solar_system.jpg" alt="The Solar System" />
    <br><br>
    <h3 class="text-center bg-primary">Fun facts</h3>
    <br>
    <div class="pl-3 text-left">
            <h5 class="font-weight-bold">Size:</h5>
            <p>Most people believe that the Solar System ends at its barrier with interstellar
            space, roughly 12 billion miles from the sun. Voyager 1 and 2 have both left
            the heliosphere, where the solar wind butts up against the interstellar medium. However,
            the sun's influence extends much, much farther. Around the sun is a massive sphere of comets,
            the Oort Cloud, stretching up to a trillion miles, or 25% of the way to the nearest star.
                <br><a href="https://solarsystem.nasa.gov/solar-system/oort-cloud/in-depth/">
                Oort Cloud: In Depth</a></p>
            <br>
            <h5 class="font-weight-bold">The Sun, King of Mystery:</h5>
            <p>It's understood that the sun is the dominant force in the Solar System, since
            everything orbits it. The sheer size of the sun can be difficult to grasp. In terms
            of mass, it makes up 99.85% the mass of the Solar System. A million Earths could fit
            inside it. And yet, there is so much we don't know about the sun. However, with 
            NASA's Parker Solar Probe and Solar Orbiter getting closer to the sun than any 
            spacecraft before them, scientists hope to shed light on our star's many mysteries.
                <br><a href="https://www.bbc.com/news/science-environment-53429054">
                Solar Orbiter: Closest ever pictures taken of the Sun</a></p>
        </div>
        <br>
    
<%- include('partials/footer.ejs') %>