<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <h1>Welcome to Mercury!</h1>
        <br>
        <img src="/img/mercury.jpg" alt="Mercury" />
        <br>
        <p class="pl-3 text-left"> Mercury is the planet closest the sun, with a year lasting 
        a little less than 90 days. The innermost planet is known for its scorching heat and desolate
        appearance, but as this world has been studied further, it has revealed astonishing
        surprises.</p>
        <br>
        <h3 class="text-center bg-primary text-white">Fun facts</h3>
        <div class="pl-3 text-left">
            <h5 class="font-weight-bold">Ice:</h5>
            <p>Even though the surface temperature can be up to 800 F, water ice has been
            found in several of its polar craters, places untouched by the sun for billions
            of years. This is due to the lack of atmosphere, which prevents the scorching
            heat from reaching these ice pockets, and also results in the night side hosting
            freezing temperatures of several hundred degrees below zero.<br>
                <a href="https://nssdc.gsfc.nasa.gov/planetary/ice/ice_mercury.html">
                Ice on Mercury</a></p>
            <br>
            <h5 class="font-weight-bold">Core:</h5>
            <p>While Mercury has many strange features, one of its weirdest is its core.
            Most planets' cores are small in comparison to the rest of its mass, but
            Mercury's core takes up 55% of its volume. Multiple theories have been
            put forth, but the most popular is the Giant Impact Hypothesis, which claims
            an object 1/6 its mass slammed into it and stripped away its outer layers.
                <br><a href="https://www.space.com/18643-mercury-composition.html">
                What Is Mercury Made Of?</a></p>
        </div>
        <br>
        
<%- include('partials/footer.ejs') %>