<!DOCTYPE html>
<%- include('partials/header.ejs') %>
        <script></script>
        <h1>Welcome to Pluto!</h1>
        <br>
        <img src="/img/pluto.jpg" alt="Pluto" />
        <br>
        <p class="pl-3 text-left"> Pluto was once the ninth planet in the Solar System, discovered in 1930 by 
        Clyde Tombaugh. However, in 2005, after several more Pluto-sized bodies were
        found in the Kuiper Belt, Pluto's classification was changed to dwarf planet,
        in part to avoid having dozens, potentially hundreds of planets. From its discovery
        scientists conjectured Pluto would be a cold, desolate world, like an icy version 
        of the moon. However, in 2015, NASA's New Horizons spacecraft flew 8000 miles above 
        the dwarf planet's surface and revealed a world more varied and active than almost 
        any other body in the Solar System, with cryovolcanoes, glaciers, and 10,000-foot
        montains of pure water-ice.</p>
        
        <h3 class="text-center bg-primary text-white">Fun facts</h3>
        <br>
        <div class="pl-3 text-left">
            <h5 class="font-weight-bold">The Beating Heart:</h5>
            <p>Perhaps the most astounding thing about Pluto is that it is geologically
            active. Pluto's dominant feature, a heart-shaped region named Sputnik Planitia,
            is thought to be younger than ten million years, if not active today. It's likely
            an impact basin formed in a large collision four billion years ago. Within the basin
            nitrogen ice is heated from beneath and rises up, forming cells of warm ice in the middle
            with cooler ice on the edges sinking back down. Essentially, Sputnik Planitia is
            a giant, nitrogen-ice lava lamp.
                <br><a href="https://svs.gsfc.nasa.gov/30806">Pluto's Heart: A Cosmic 
                    'Lava Lamp'</a></p>
            <br>
            <h5 class="font-weight-bold">Ocean:</h5>
            <p>A discovery on par with Pluto's geologically active status is the fact that,
            even several billion miles away from the sun, this enigmatic world likely has an 
            ocean of liquid water dating back to its birth. This underground ocean, combined 
            with heat generated in its core, is part of the reason for the surface activity
            witnessed by the New Horizons team. This ocean could be over 60 miles deep and
            have a salinity level equal to that of the Dead Sea on Earth. And, of course,
            the prevailing belief among many scientists is that where there is water, the 
            possibility of life exists, which means there might very well be Plutonian 
            life-forms waiting to be discovered.
                <br><a href="https://www.space.com/pluto-hot-formation-subsurface-ocean.html">
                Surprise! Pluto may have had an underground ocean from the very beginning</a></p>
        </div>
        <br>
        
<%- include('partials/footer.ejs') %>